.root {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #000;
}

.removeAllFilters {
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	width: -webkit-fill-available;
	height: 30px;

	text-align: center;
	line-height: 20px;

	margin-top: 10px;
	margin-bottom: 10px;

	cursor: pointer;

	&:hover {
		background-color: rgb(255, 255, 255);
		color: #000;
	}
}

//Может быть придется удалить этот класс
.select {
	width: -webkit-fill-available;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	text-align: left;
}

.list {
	// width: -webkit-fill-available;
}
